@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&display=swap');
@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --color-background-primary: #141B2E;
  --color-background-secondary: #242f43;
  --color-background-hover: #1b2233;
  --color-border-primary: #48787a;
  --color-text-primary: #DADDE3;
  --color-text-secondary: #6a6fc3; /* 6369C8 */
  --color-text-tertiary: #4ACEAB; /* 558D90 */

  --animate-ball: pong-move 2s linear infinite alternate;
}

/* Login animation */
@keyframes pong-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* Notification progress bar animation */
@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progressBar {
  animation: progressBar 3s linear backwards;
}

/* Notification animation */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}


@layer utilities {
  .font-login {
    font-family: 'Sixtyfour', sans-serif;
  }
  .font-primary {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
